html {
    font-size: 16px;
}
@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #f4f4f4;
    padding: 1px 0;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav_item {
    margin: 0 10px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 0 4px;
}

.nav_item a {
    text-decoration: none;
    color: #333;
}
.nav_item a:hover {
    text-decoration: underline;
}

details {
    padding: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 10px;
}

details > div {
    border: 1px solid #333;
    margin: 2px;
    padding: 2px;
}

details > div > p {
    display: inherit;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
}

.block {
    display: block;
}
.block:nth-of-type(2) {
    height: 100px;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
    width: 40%;
}
.none {
    display: none;
}
.flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_box:nth-of-type(2) {
    flex-direction: column-reverse;
}
.flex_item {
    border: 1px solid #333;
    padding: 4px;
    margin: 4px;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
}
.grid_item {
    border: 1px solid #333;
    padding: 4px;
    margin: 4px;
}
.grid_item:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1 / 4;
}
.grid_item:nth-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 1;
}
.grid_item:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2
}
.grid_item:nth-of-type(4) {
    grid-column: 3;
    grid-row: 2;
}
.grid_item:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3;
}

pre {
    margin: 1em 0; /* ブロック前後の余白 */
    padding: 1em; /* ブロック内の余白 */
    border-radius: 5px; /* 角丸 */
    background: #25292f; /* 背景色 */
    color: #fff; /* 文字色 */
    white-space: pre-wrap; /* はみ出たときに折り返す */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
